.FullScreenLoader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Spinner {
  border: 2px solid var(--spinner-big-b-color);
  border-radius: 50%;
  border-top: 2px solid var(--spinner-small-b-color);
  width: 24px;
  height: 24px;
  -webkit-animation: spin 600ms linear infinite; /* Safari */
  animation: spin 600ms linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
