.logo {
  width: 48px;
  padding: 32px 0 16px 0;
}

.title {
  font-weight: 300;
  font-size: 24px;
}

.formContainer {
  margin-top: 16px;
  width: calc(320px - 34px);
  border: 1px solid var(--form-container-b-color);
  background-color: var(--form-container-bg);
  border-radius: 6px;
  height: 200px;
  padding: 16px;
}
