.modal {
  background-color: var(--modal-body-bg-color);
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  width: 90vw;
  height: 90vh;
}

.modal :global svg.close {
  fill: var(--modal-close-icon-color);
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal :global svg.close:hover {
  fill: var(--modal-close-icon-hover-color);
}

.modal :global .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--modal-banner-bg-color);
  padding: 0 12px;
  height: 45px;
  color: var(--modal-banner-color);
}

.modal :global .banner .title {
  color: var(--modal-banner-color);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.modal :global .modal-body {
  padding: 16px;
}

.modal :global .banner .title-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
