.Chat {
  flex-grow: 1;
}

.Desclaimer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MessagesContainer {
  height: calc(100vh - 320px);
  padding: 20px;
}

.MessageInputContainer {
  margin: 20px;
  height: 118px;
  border: 1px solid #565856;
  padding: 16px 0 16px 16px;
  border-radius: 9px;
  background-color: #222222;
  overflow: hidden;
}

.MessageInput {
  /* padding-top: 16px; */
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  height: 80px;
  font-size: 14px;
}
