body[theme="dark"] {
  --background-color: rgb(0, 0, 0);
  --font-color: white;
  --form-container-bg: rgb(22, 27, 34);
  --form-container-b-color: rgba(48, 54, 61, 0.7);

  /* text input */
  --text-input-color: rgb(255, 255, 255);
  --text-input-bg-color: rgba(70, 90, 126, 0.4);
  --text-input-b-color: rgb(48, 54, 61);
  --text-input-outline-focus-color: rgb(34, 100, 200);

  /* link */
  --link-color: rgb(68, 147, 248);

  /* button */
  --button-primary-color: rgb(255, 255, 255);
  --button-primary-bg-color: rgb(35, 134, 54);
  --button-primary-b-color: rgba(240, 246, 252, 0.1);
  --button-primary-focus-color: rgb(18, 210, 56);

  /* form input error */
  --form-input-error-color: rgb(255, 0, 0);

  /* spinner */
  --spinner-small-b-color: rgb(18, 210, 56);
  --spinner-big-b-color: rgb(255, 255, 255);

  /* d-navbar */
  --d-navbar-bg-color: rgb(21, 21, 21);

  /* Xbutton */
  --xbutton-color: rgb(97, 31, 105);
  --xbutton-bg-color: rgb(255, 255, 255);
  --xbutton-b-color: rgb(97, 31, 105);
  --xbutton-box-shadow-color: rgb(97, 31, 105);

  /* label */
  --label-color: rgb(230, 237, 243);

  /* modal overlay */
  --modaloverlay-bg-color: rgba(0, 0, 0, 0.7);

  /* icon */
  --icon-fill: rgb(255, 255, 255);
  --icon-fill-hover: rgb(172, 172, 172);

  /* modal */
  --modal-close-icon-color: rgb(0, 0, 0);
  --modal-close-icon-hover-color: rgb(81, 81, 81);
  --modal-banner-bg-color: rgb(255, 255, 255);
  --modal-banner-color: rgb(0, 0, 0);
  --modal-body-bg-color: rgb(28, 28, 28);

  /* ChannelsForInfo */
  --ChannelsForInfo-bg-color: rgb(255, 255, 255);
  --ChannelLists-border-color: rgb(75, 75, 75);
  --ChannelLists-bg-color: rgb(28, 28, 28);

  /* avater */
  --FirstLetter-bg-color: rgb(59, 97, 55);
}
