.full-screen-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.full-screen-jcenter {
  display: flex;
  justify-content: center;
}

.center-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}

.fs-14 {
  font-size: 14px;
}

.mt-4 {
  margin-top: 4px;
}

.flex {
  display: flex;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-8 {
  margin-left: 8px;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.font-s-12 {
  font-size: 12px;
}

.p-16 {
  padding: 16px;
}

.h-80 {
  height: 80px;
}

.flex-al-center {
  display: flex;
  align-items: center;
}
