.AddIcon {
  stroke: var(--font-color);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.AddIcon:hover {
  opacity: 0.5;
}

.modal {
  background-color: var(--modal-body-bg-color);
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  width: 90vw;
  max-width: 700px;
  min-width: 320px;
  height: fit-content;
}

.modal :global svg.close {
  fill: var(--modal-close-icon-color);
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal :global svg.close:hover {
  fill: var(--modal-close-icon-hover-color);
}

.modal :global .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--modal-banner-bg-color);
  padding: 0 12px;
  height: 45px;
  color: var(--modal-banner-color);
}

.modal :global .banner .title {
  color: var(--modal-banner-color);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.modal :global .modal-body {
  padding: 16px;
  height: calc(100% - 78px);
}

.modal :global .banner .add-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  stroke: var(--modal-close-icon-color);
}

.EditableContent {
  margin-top: 8px;
  overflow: hidden;
  border-radius: 9px;
  min-height: 96px;
  border: 1px solid rgba(209, 210, 211, 0.3);
  position: relative;
}

.EditableContentContainer {
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  max-height: 300px;
  overflow: auto;
  padding: 8px;
}

.EditableContent:focus-within {
  outline: 3px solid var(--text-input-outline-focus-color);
}

.EditableContentInput {
  flex-grow: 1;
  height: 32px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.EmailTag {
  height: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 8px;
  background-color: rgba(29, 155, 209, 0.1);
  padding: 0 8px;
  font-weight: bold;
  border-radius: 9px;
  border: 1px solid rgba(29, 155, 209, 0.1);
}

.EmailTagClose {
  fill: rgba(255, 255, 255, 0.5);
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 4px;
}

.EmailTagClose:hover {
  fill: rgba(255, 255, 255, 1);
}

.WrongEmailIcon {
  margin-right: 4px;
  width: 18px;
  height: 18px;
  fill: red;
  margin-top: 2px;
}

.EmailTagWrong {
  border: 1px dashed red;
}

.EditableContentPlaceholder {
  font-size: 16px;
  position: absolute;
  top: 14px;
  left: 8px;
  opacity: 0.6;
}
